#header {
	text-align: center;
	margin-bottom: 40px;
	font-family: anglecia;

	& * {
		color: black;
	}

	a:hover {
		text-decoration: none;
	}

	.title {
		width: 100%;
		margin-bottom: 15px;

		font-size: 42px;
		line-height: 140px;

		@media (min-width: 600px) {
			font-size: 70px;
			line-height: 140px;
		}
		
		@media (min-width: 900px) {
			font-size: 90px;
			line-height: 140px;
		}

		@media (min-width: 1200px) {
			font-size: 130px;
			line-height: 140px;
		}
		

		background-image: url("/img/noise-small.png");
		@media (min-width: 600px) {
			background-image: url("/img/noise-large-sparsest.png");
		}
		background-size: cover;
	}

	.tagline {
		font-size: 20px;
		line-height: 25px;

		&:hover {
			text-decoration: none;
		}

		img {
			margin-left: 2px;
			margin-bottom: -5px;
		}
	}
}