#home {
	img.thumbnail {
		width: 100%;
		border: none;
		background-color: rgba(0,0,0,0);
	}
	a.post-link {
		color: black;
		.row {
			margin: 10px 0;
			border: 1px solid #dddddd
		}
		.row:hover {
			background-color: #eeeeee;
		}
	}
}