#home {
	img.thumbnail {
		width: 100%;
		border: none;
		background-color: rgba(0,0,0,0);
		margin-bottom: 0;
	}
	a.post-link {
		color: black;
		.row {
			margin: 10px 0;
			border: 1px solid #dddddd;
			min-height: 175px;
		}
		.row:hover {
			background-color: #eeeeee;
		}
		.post-heading {
			& > * {
				display: inline-block;
			}
			.title {
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
		p.blurb {
			max-width: 550px;
		}
	}
	#tag-filters {
		margin: 20px;
		.tag-filter-label {
			font-weight: bold;
			margin-right: 10px;
		}
		.tag {
			line-height: 2.2em;
		}
	}
}