.post-container{
	padding: 12px;
	.post-heading {
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
	}

	.post {
		padding: 20px 0;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		h1, h2, h3, h4, h5, h6 {
			text-align: left;
		}
		p {
			font-size: 16px;
		}
		img {
			width: 100%;
			&:not(.full-size) {
				max-width: 420px;
			}
			display: inherit;
			margin-left: auto;
			margin-right: auto;
		}
		.pull-quote {
			font-family: Helvetica,Arial,sans-serif;
		    font-size: 2.75rem;
		    font-style: italic;
		    text-transform: uppercase;
		    font-weight: 500;
		    /*color: #2b9ada;*/
		    color: #888;
		    margin: 1.75rem 1.75rem 1.5rem;
		    quotes: none;
		    display: block;
		    line-height: 1;
		    text-align: center;
		    &.right {
		    	float: right;
		    	max-width: 40%;
		    	text-align:left;
		    }
		    &.left {
		    	float: left;
		    	max-width: 40%;
		    	text-align: right;
		    }
		}
	}
}