.post-container{
	padding: 12px;
	.post-heading {
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
	}

	.post {
		padding: 20px 0;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		h1, h2, h3, h4, h5, h6 {
			text-align: left;
		}
		p {
			font-size: 16px;
		}
		img {
			width: 100%;
			max-width: 420px;
			display: inherit;
			margin-left: auto;
			margin-right: auto;
		}
	}
}