.tags {
	.tag {
		padding: 5px;
		border-radius: 5px;
		color: black;
		&.Personal {
			background-color: rgba(243, 71, 31, 0.6);
		}
		&.Ice.Cream.Crimes {
			background-color: rgba(162, 95, 217, 0.5);
		}
		&.iPython  {
			background-color: rgba(40, 195, 240, 0.6);
		}
		&.Machine.Learning {
			background-color: rgba(102, 217, 74, 0.6);
		}
		&.Tools.and.Resources {
			background-color: rgba(242, 187, 37, 0.6);
		}
	}
}