.tags {
	.tag {
		padding: 5px;
		border-radius: 5px;
		color: black;
		&.Personal {
			background-color: rgba(243, 71, 31, 0.6);
		}
		&.Ice.Cream.Crimes {
			background-color: rgba(162, 95, 217, 0.5);
		}
		&.IPython  {
			background-color: rgba(40, 195, 240, 0.6);
		}
		&.Machine.Learning {
			background-color: rgba(102, 217, 74, 0.6);
		}
		&.Tools.and.Resources {
			background-color: rgba(242, 187, 37, 0.6);
		}
		&.Statistics {
			background-color: rgba(11, 118, 150, 0.5);
		}
		&.Data.Analysis {
			background-color: rgba(32, 77, 235, 0.5);
		}
		&.Book {
			background-color: rgba(62, 147, 54, 0.5);
		}
		&.Video {
			background-color: rgba(262, 117, 14, 0.5);
		}
		&.Curriculum {
			background-color: rgba(10, 50, 255, 0.5);
		}
		&.Think.Stats {
			background-color: rgba(255, 30, 100, 0.6);
		}
		&.Terms {
			background-color: rgba(240, 240, 0, 0.6);
		}
	}
}